<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/imunemais-login/public/imunemais_icone.png">
    <link rel="stylesheet" href="/imunemais-login/src/app/tela-principal/main-screen-users/main-screen-users.component.scss" type="text/css">
    <title>Imune+</title>
</head>
<body>
    <header class="navbar">
        <div class="logo">imune+</div>
    </header>
    <div class="container">
        <div class=""></div>
    </div>
</body>
