<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Imune+</title>
    <link rel="icon" type="image/x-icon" href="/imunemais-login/public/imunemais_icone.png">
    <link rel="stylesheet" href="/imunemais-login/src/app/login-imunemais/default-login-screen/default-login-screen.component.scss" type="text/css">
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="logo">imune+</div>
        </div>
        <div class="right">
            <div class="login-box">
                <h2>Login</h2>
                <form>
                    <label for="cpf">CPF</label>
                    <input type="text" id="cpf" placeholder="000.000.000-00" required>
                    
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" placeholder="Digite sua senha..." required>
                    
                    <button type="submit" class="login-button">Login</button>
                    <a href="#" class="forgot-password">Esqueceu sua senha?</a>
                </form>
            </div>
            <div class="criar-cadastro">
                <div class="dividir">
                    <div></div>
                    <span>Ainda não tem conta?</span>
                    <div></div>
                </div>
                <a href="#" class="register">Crie seu cadastro!</a>
            </div>
        </div>
    </div>
</body>

