<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Imune+</title>
    <link rel="icon" type="image/x-icon" href="/imunemais-login/public/imunemais_icone.png">
    <link rel="stylesheet" href="/imunemais-login/src/app/cadastro-imunemais/segunda-tela-cadastro/segunda-tela-cadastro.component.scss" type="text/css">
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="logo">imune+</div>
        </div>
        <div class="right">
            <div class="register-password-box">
                <h2>Cadastro</h2>
                <form>
                    <label for="senha">Senha</label>
                    <input type="text" id="senha" placeholder="Digite uma senha.." required>
                    
                    <label for="confirmar-senha">CPF</label>
                    <input type="text" id="confirmar-senha" placeholder="Digite novamente sua senha.." required>
                </form>
                <div class="requisitos-senha">
                    <p>Requisitos da senha:</p>
                    <ul>
                        <li>Deve ter entre 8 a 150 caracteres</li>
                        <li>Deve conter pelo menos uma letra maiúscula e uma minúscula</li>
                        <li>Deve conter pelo menos um número</li>
                        <li>Pode incluir os seguintes símbolos: ! # $ % & ( ) * + - . : ; ?</li>
                    </ul>
                </div>
                <div class="botao-cadastrar">
                    <button type="submit" class="register-button">Cadastrar-se</button>
                </div>
            </div>
        </div>
    </div>
</body>
